[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pymodbus = ">=3.6"
pyserial-asyncio = "*"
aiosqlite = "*"
pydantic = ">=2,<3"
aiohttp = "*"
aiohttp-apigami = "*"
marshmallow = "*"
psutil = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
freezegun = "*"
mypy = "*"
ruff = "*"
types-psutil = "*"

[requires]
python_version = "3.13"
